/*Barra de Navegación*/

.navbar{
    padding: 2rem;
    box-shadow: 1px 2px 4px #d4d4d4;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    cursor: pointer;
}

.nav-link:hover{
    font-weight: 600;
    font-size: 18px;
}

/*ESTILOS GENERALES*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-oscura{
    color: white;
    background-color: #1b1b32;
}

h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-texto{
    font-size: 1.2rem;
}

.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
}

.texto-negro{
    color: black;
}

.texto-blanco{
    color: wheat;
}
/*SECCIÓN PRINCIPAL*/
.principal{
    min-height: 450px;
    text-align: center;
}

.sec-principal{
    padding: 3rem;
}

.imagen-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.sec-inferior-imagen{
    width: 400px;
    height: 400px;
    padding-bottom: 5rem;
}


/*SECCION SOBRE MÍ*/

.sobre-mi{
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}

/*SECCION TECNOLOGÍAS*/
.sec-tecnologias{
    min-height: 600px;
}

.imagenes-tecn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.img-tec{
    width: 80px;
    height: 80px;
    box-shadow: 2px 7px 5px #d4d4d4;
    padding: 15px;
    margin: 15px;
    border-radius: 20%;
}


.descripcion-tecn{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.img-tec:hover{
    transform: rotateY(360deg);
    transition: 1s ease-in-out;
}

.seccion-titulo{
    margin-top: 40px;
}

/*PROYECTOS*/
.sec-proyectos{
    min-height: 450px;
}

.sec-proyectos img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyecto-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.superpuesto{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    text-align: center;
}

.proyecto{
    position: relative;
}

.superpuesto p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto:hover img{
    opacity: 0.2;
}

.proyecto:hover .superpuesto{
    opacity: 1;
}

.superpuesto .iconos-contenedor{
    display: flex;
}

.superpuesto i{
    color: rgb(82, 4, 81);
    font-size: 60px;
    margin: 10px;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
        align-items: center;
    }
}

@media screen and (min-width: 700px) {
    .sec-inferior-imagen{
        max-width: 600px;
    }
}
