/*Barra de Navegación*/

.navbar{
    padding: 2rem;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
        align-items: center;
    }
}